body {
  background: #FFFFFF;
  background-position: 50% 50%;
  color: #666666;
  font:13px/1.231 arial,helvetica,clean,sans-serif;
  height: 100%;
}

code {
  background-color: #EEEEEE;
  border-radius: 4px;
  -moz-border-radius: 4px;
  color: #222222;
  padding: 0.2em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
}

/* color reference */
.light_blue {
  color: #A0C0E1;
}
.dark_blue {
  color: #70A1D2;
}
.brown {
  color: #C38241;
}
.teal {
  color: #9EE0E0;
}
.green {
  color: #9EE09E;
}
.pink {
  color: #E09EE0;
}

.head {
  background-color: #A0C0E1;
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  height: 174px;
}

.head div {
  color: #FFFFFF;
  height: 174px;
  text-align: center;
}

.head .identity {
  height: 154px;
  padding: 10px 0;
}

.head .identity img {
  vertical-align: middle;
}
.head .identity h1 {
  background-color: #A0C0E1;
  padding-left: 10px;
  display: inline;
}

.head .acquire {
  background-color: #70A1D2;
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  color: #FFFFFF;
  text-align: center;
}
.head .acquire a, .head .acquire a:visited {
  color: #FFFFFF;
}
.head .acquire dl {
  padding-top: 0.625em;
  font-size: 1.25em;
}
.head .acquire dt {
  font-weight: bold;
}
.head .acquire dd {
  padding-bottom: 0.5em;
}

.content dl {
  clear: both;
}

.content dt {
  clear: left;
  float: left;
  font-weight: bold;
  padding-right: 1em;
  text-align: right;
  width: 10%;
}

.content dd {
}

.body h2 {
  background-color: #A0C0E1;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  color: #FFFFFF;
  margin-top: 1.25em;
  padding: 0.625em;
}

.body .content {
  border-color: #A0C0E1;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  overflow: hidden;
  padding: 0 1em;
}

.body .content code, .body .content p {
  margin: 1em 0;
}

.body .content code {
  display: block;
}

.foot {
  background-color: #A0C0E1;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  color: #FFFFFF;
  margin-top: 2em;
  padding: 0.5em;
  text-align: center;
}

.foot img {
  vertical-align: middle;
}

table.roadmap {
  margin: 1em;
}

table.roadmap th {
  font-weight: normal;
  border: 1px solid #666;
}

table.roadmap th.provider {
  text-align: right;
}

table.roadmap th.provider a {
  color: #999;
}

table.roadmap th.service {
  font-weight: bold;
}

table.roadmap th.hidden, table.roadmap td.hidden {
  border: 0;
}

table.roadmap th, table.roadmap td {
  padding: 0.5em;
}

table.roadmap td {
  border: 1px solid #666;
  color: #EEE;
  text-align: center;
}

table.roadmap td a {
  color: #EEE;
}

table.roadmap td.maintainers, table.roadmap td.maintainers a {
  color: #999;
}

table.roadmap td.complete {
  background-color: #70A1D2;
}

table.roadmap td.pending {
  background-color: #E09EBF;
}

table.roadmap td.targeted {
  background-color: #BF9EE0;
}
