body {
  background: #FFFFFF;
  background-position: 50% 50%;
  color: #666;
  font:13px/1.231 arial,helvetica,clean,sans-serif;
  height: 100%;
}

code {
  background-color: #999;
  padding: 0.2em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

/* color reference */
.light_blue {
  color: #A0C0E1;
}
.dark_blue {
  color: #4182C3;
}
.brown {
  color: #C38241;
}
.green {
  color: #9EE09E;
}
.pink {
  color: #E09EE0;
}

.head {
  background-color: #A0C0E1;
  height: 174px;
}

.head div {
  color: #FFF;
  height: 174px;
  text-align: center;
}

.head .identity {
  height: 154px;
  padding: 10px 0;
}

.head .identity img {
  vertical-align: middle;
}
.head .identity h1 {
  padding-left: 10px;
  display: inline;
}

.head .acquire {
  background-color: #4182C3;
  color: #FFF;
  text-align: center;
}
.head .acquire a, .head .acquire a:visited {
  color: #FFF;
}
.head .acquire dl {
  padding-top: 0.625em;
  font-size: 1.25em;
}
.head .acquire dt {
  font-weight: bold;
}
.head .acquire dd {
  padding-bottom: 0.5em;
}

.foot {
  background-color: #A0C0E1;
  color: #FFF;
  padding: 0.5em;
  text-align: center;
}

.foot img {
  vertical-align: middle;
}