body {
  background: #FFFFFF;
  background-position: 50% 50%;
  color: #666;
  font:13px/1.231 arial,helvetica,clean,sans-serif;
  height: 100%;
  text-align: center;
}

/* color reference */
.light_blue {
  color: #A0C0E1;
}
.dark_blue {
  color: #4182C3;
}
.brown {
  color: #C38241;
}
.green {
  color: #9EE09E;
}
.pink {
  color: #E09EE0;
}

.head {
  margin: 0 auto;
}